# Django et Python
*.log
*.pot
*.pyc
__pycache__/
*.py[cod]
db.sqlite3
media/
staticfiles/
collected_static/

# Brouillons
facturer/brouillon/
**/brouillon/

# IDE
.vscode/
.idea/
*.swp
*~
