<h2>Produits</h2>

<a href="{% url 'produits:creer_local' %}">+ Produit Local</a>
<a href="{% url 'produits:creer_importe' %}">+ Produit Importé</a>

<table>
<tr>
    <th>Code</th>
    <th>Designation</th>
    <th>Origine</th>
    <th>Statut</th>
    <th>Actions</th>
</tr>

{% for p in produits %}
<tr>
    <td>{{ p.code }}</td>
    <td>{{ p.designation }}</td>
    <td>{{ p.origine }}</td>
    <td>{{ p.statut }}</td>
    <td>
        <a href="{% url 'produits:modifier' p.id %}">Modifier</a>
        <a href="{% url 'produits:supprimer' p.id %}">Supprimer</a>
    </td>
</tr>
{% endfor %}
</table>
